# Copia este archivo como .env y ajusta los valores.
SECRET_KEY=django-insecure-cambia-esta-clave-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.settings.development

# Zona horaria y lenguaje
TIME_ZONE=America/Guayaquil
LANGUAGE_CODE=es-ec

# JWT (minutos / dias)
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
